.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.primaryBackgroundColor-blue{
    background-color: rgb(37, 112, 212);
}

.secondaryBackgroundColor-blue{
    background-color: rgb(20, 58, 112);
}

.primaryTextColor-blue{
    color: rgba(37, 112, 212, 1);
}

.main-gradient-blue{
    background: radial-gradient(50% 50% at 50% 50%, rgba(37, 112, 212, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.primaryBackgroundColor-green{
    background-color: rgba(29, 237, 131);
}

.secondaryBackgroundColor-green{
    background-color: rgb(19, 128, 72);
}

.primaryTextColor-green{
    color: rgba(29, 237, 131, 1);
}

.main-gradient-green{
    background: radial-gradient(50% 50% at 50% 50%, rgba(29, 237, 131, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
}

.logo-img{
    margin-top: 20px;
}

.title-text-style{
    font-weight: 700;
    font-size: 64px;
    text-align: center;
}

.selector-box {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    content: "";
    width: 99%;
    height: 35px;
    position: absolute;
    clip-path: polygon(0% 0%, 100% 0%, 100% 40%, 95% 100%, 0% 100%);
}

.selector-border {
    top: 40px;
    width: 30%;
    height: 39px;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 101% 33%, 95% 100%, 0% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.toggle-btn-left{

}

.toggle-btn-right {
    left: 50%;
}

.toggle-btn-left, .toggle-btn-right {
    padding: 3px 15px 3px 5px;
    font-size: 28px;
    font-family: Calibri;
    width: 50%;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: absolute;
    text-align: center;
    clip-path:  polygon(0% 0%, 100% 0%, 100% 40%, 90% 100%, 0% 100%);
}

.footer-container {
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-info{
    display: inline-block;
    overflow: hidden;
    position: relative;
}

.button-border{
    top: 40px;
    width: 30%;
    height: 39px;
    position: relative;
    clip-path: polygon(0% 0%, 100% 0%, 101% 33%, 95% 100%, 0% 100%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-buttons {
    color: #ffffff;
    background-color: #2570d455;
    border: 3px solid #2570d4;
    padding: 15px 17px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 64%, 64% 100%, 20% 100%, 0 100%, 0% 20%);
}

.footer-buttons:hover {
    color: #2570d455;
    background-color: #2d63c8;
}

#selector-switcher {
    left: 0;
    top: 0;
    position: absolute;
    width: 50%;
    height: 100%;
    border-radius: 2px;
    content: "";
    transition: .3s;
    clip-path:  polygon(0% 0%, 100% 0%, 100% 40%, 90% 100%, 0% 100%);
}

.main-container{
    padding: 50px;
}

.main-title{
    position: relative;
    font-family: Calibri;
}

.main-buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clickOnMe-button{
    font-size: 51px;
    font-family: Calibri;
    background-color: #2570d455;
    border: 3px solid #2570d4;
    padding: 15px 55px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 63%, 77% 100%, 0 100%, 0% 20%);
}

.instruction-button{
    font-size: 25px;
    font-family: Calibri;
    background-color: #2570d455;
    border: 3px solid #2570d4;
    padding: 15px 20px;
    margin-bottom: 150px;
    cursor: pointer;
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 20%, 100% 60%, 87% 100%, 0 100%, 0% 20%);

}